::placeholder {
  opacity: 1 !important; /* Firefox */
  font-weight: bold !important;
  font-size: 0.9rem !important;
  line-height: 2rem !important;
  color: #bfbfbf !important;
}

input {
  color: #bfbfbf;
}

a {
  text-decoration: none !important;
}



select.form-select.form-select-sm.mb-3.boldOption {
  border: none;
}
select.form-select.form-select-sm.mb-3.boldOption:focus {
  box-shadow: none;
}

.createInvoiceTeaxtArea {
  width: 100%;
  height: 80%;
  border: none;
  line-height: 32px;
  font-weight: "600";
}

textarea.createInvoiceTeaxtArea{
  outline: none;
}
/*++++++++++++++++++++++++++++ Settlement Styling ++++++++++++++++++++++++++ */

/*++++++++++++++++++++++++ Settlement Styling End ++++++++++++++++++++++++++ */

/* <>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>scrollbar css <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#bfbfbf ;
  border-radius: 10px;
  
}


/* <>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>scrollbar css <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


.createNewMerchant{
  padding: 10px;
  text-align: center;
  display: flex;
  background-color: #1eaae7;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  margin-left: auto;
}
.createNewMerchant2{
  padding: 8px 30px;
  text-align: center;
  font-weight: 600;
  display: flex;
  background-color: #1eaae7;
  border: none;
  border-radius: 30px;
  color: #fff;
}
.createNewMerchant2Close{
  padding: 8px 30px;
  text-align: center;
  font-weight: 600;
  display: flex;
  background-color: #8bbd4b;
  border: none;
  border-radius: 30px;
  color: #fff;
}

.normail{
  text-align: center;
  width: 100px;
  padding: 5px 10px;
  color: #fff;
  background-color: gray;
  border-radius: 30px;
}
.approved{
  text-align: center;
  width: 100px;
  padding: 5px 10px;
  color: #fff;
  background-color: #28a745;
  border-radius: 30px;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px !important;
}

.failedRed{
  color: #f00;
  background: transparent;
}

.successGreen{
  color: rgb(20, 176, 20);
  background: transparent;
}

.waitBlue{
  color: rgb(37, 124, 153);
  background: transparent;
}

.pendingOrange{
  color: #ff6600;
  background: transparent;
}

.refundPink{
  color: rgb(238, 17, 127);
  background: transparent;
}

.userSearch{
  margin-left: 10px;
  color: #fff;
  border-radius: 20px;
  background: #1caae8;
  width: 100px;
  height: 40px;
}

.sub_agent {
  height: 40px;
  border: 1px solid #bfbfbf;
  border-radius: 20px;
}

.new{
  border-radius: 20px;
  color: #fff;
  margin-left: 10px;
}

/* .css-rorn0c-MuiTableContainer-root{
  height: 420px;
} */