.addTransaction{
   display: flex;
    padding: 10px 20px;
    background: #ff6600;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    
}
.bankSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dfd9d9;
    padding: 1px 10px;
    border-radius: 30px;
}

.inputSearch{
    border: none;
    outline: none;
    background: #dfd9d9;
    width: 100%;
    margin-right:5px;
}