.liquedblock{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  height: 28.5rem;
  width: 5.3rem;
  background: #E8F3F9;
  border-radius: 23px;
  padding: 0%;
  position: relative;
}

svg {
  border-radius: 20px;
  position: relative;
}