<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            background-color: #ffffff;
            max-width: 650px;
            margin: 0 auto;
            padding: px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-size: small;
        }
        .header {
            text-align: center;
            /* padding: 10px; */
        }
        .logo {
            max-width: 200px;
        }   
        .content {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 5px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        
        }
        table, th, td {
            border: 1px solid #202020;
        }
        th, td {
            padding: 6px;
            text-align: center;
        }
        .head{
            background-color: #003399;

            color: white;
            height: 150px;
            text-align: center;
            justify-items: center;     
        }
        .Thanks{
           height: 110px;
           background-color: #e5eaf5;
           color: rgb(13, 152, 233);
        }
       .paragraph{
        font-size: small;
        text-align: left;
        height: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
       }
       .btn1{
         margin-left: 200px;
         margin-top: 30px;
         margin-bottom: 40px;
        }
        .btn{
            background-color: rgb(76, 183, 233);
            border: none;
            color: white;
            height: 40px;
            width: 200px;
            font-size: 15px;   
        }
        .data{
            padding: 10px;
            font-size: medium;
            text-align: center;   
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="./fav.svg" alt="Your Company Logo" class="logo">
        </div>
        <div class="content">
                
            <div class="head">
                
                <img  src="./msg.png" style="height: 40px;width: 150px;"/> 
                <div style="font-weight: bold;padding-top: 20px;">E M A I L&nbsp; &nbsp;V E R I F I C A T I O N&nbsp; &nbsp;T O K E N !</div>
            </div>
            
                <thead>
                </thead>
                <tbody>

                    <div class="data">
                        <P><b>Hi,</b></P>
                        <P>Please click on the button to change your password.</P>
                    </div>
                 <div><p style="font-size: larger;text-align: center;"><b>Use this token to reset your password</b></p></div>   
                    <table>
                        <thead >
                        
                        </thead>
                        <tr style="width: 600px;">
                            <td style="width: 200px;"><b>TOKEN</b></td>
                            <td style="width: 400px;"><b><%= token  %></b></td>
                        </tr>
                    </table>
                    <div class="btn1">
                       <button class="btn" style="margin-right: 170px;"><b>CHANGE PASSWORD</b></button>
                   </div>  
            
                  <div style="text-align: center;font-size: larger;color: rgb(76, 183, 233) ;"><h2>THANKS</h2></div>
                </tbody>
                <div style="color:white;text-align: center; background-color: #003399; height: 70px; padding-top: 5px;">
                    <p style="font-size: small;color: rgb(218,164,189);;"><a style="color: #fff;">support@ubankconnect.com</a></p>
                    <p><span style="font-size: 14px;">Copyrights &copy; U Bank Connect. All Rights Reserved</span></p>
                </div>
            </div>
        </div>
</body>
</html>