.search1{
    border-radius: 50px;
    background: rgb(223, 217, 217);
    width: 15rem;
    padding: 10px 40px !important;
    color: black;
    border: none;
    outline: none;
    
}

.serachbox{
    position: relative;
}

.icon{
   position: absolute;
   top: 22%;
   left: 10px;
}