.bankSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dfd9d9;
    padding: 1px 10px;
    border-radius: 30px;
}

.inputSearch{
    border: none;
    outline: none;
    background: #dfd9d9;
    width: 100%;
    margin-right:5px;
}