.heading {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 43px;
  color: #000000;
}

.firstBlock {
  background: #ffffff;
  height: 600px;
  overflow: auto;
  -webkit-box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px 1px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px 1px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  padding: 20px;
  
}
 .secondBlock {
  background: #ffffff !important;
  -webkit-box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px 1px;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px 1px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  padding: 20px;
}



ul li{
    list-style: none;
    margin-bottom: 40px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
    cursor: pointer;
}
 
.formBlock{
    height: 37rem;
    overflow: scroll;
}

.saveButton{
    background: #1EAAE7;
    color: #FFFFFF;
    border-radius: 50px;
    height: 100%;
    border: none;
    padding: 8px 40px;
   
}

form::-webkit-scrollbar {
  width: 0px;
}

.formBlock::-webkit-scrollbar {
  width: 0px;
}

.profileHeading{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid #ced4da;
    /* padding-bottom: 4px;
    margin-bottom: 15px; */
}



label{
     font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    color: #000000;
}

.boldOption{
   font-weight: 800 !important;
}

.form-subtitle {
    font-weight: 700;
    color: #008080 !important;
    font-size: 15px;
    margin: 8px 0;
}

.keyBlock{
     background: #FFFFFF;
     width: 250px;
    -webkit-box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px 1px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px 1px;
    border: 1px solid #ced4da;
    border-radius: 20px;
    padding: 20px
}

.activetab{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    color: #000000;
    font-size: large;
    white-space: nowrap;
}

input{
     padding: 10px !important;
     text-align: start;
}

select{
  text-align: start;
}

.authSwtich{
  width: 50px !important;
  background-color: #ccc;
  -webkit-transition: .4s;
   transition: .4s;
}

.borderForQus{
  border-bottom: 1px solid#ebedf2;
}
.blockCus{
    color: #fff;
    border-radius: 30px;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.blockCus1{
    color: #fff;
    border-radius: 30px;
    background: #31CE36 !important;
    border-color: #31CE36 !important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.blockCus2{
    color: #fff;
    border-radius: 30px;
    background: #F25961 !important;
    border-color: #F25961 !important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.print{
  background: #000;
  color: #fff;
  width: 100px;
  height: 36px;
  border-radius: 50px;
}

.backButton{
  background: #000;
  width: 100px;
  height: 36px;
  border-radius: 50px;
  margin-left: auto;
  display: block;
}

.showKey{
  margin-left: 25px;
  background: #1caae8;
  width: 150px;
  color: #fff;
  border-radius: 30px;
  height: 50px;
  margin-top: 7px;
}

.downloadimg img {
  width: 50px;
  align-items: center;
  vertical-align: middle;
  margin-left: 30px;
}

.tableHead{
  font-weight: 800 !important;
}

.boldheading {
  font-weight: 800;
  text-align: right;
}